In [4]:
'''
@Author: Viney Khaneja
@Date: 2022-04-18 15:12
@Last Modified by: Viney Khaneja
@Last Modified time: None
@Title : User Name Reverse Order 
'''
try:
    #user inputs
    user_data = input("Enter string of numbers by comma separated: ") # 2,4,5,8 like this
    converted_list = list(user_data.split(","))
    print("List is: ",converted_list)
    print("Type is: ",type(converted_list))
    converted_tupple = tuple(user_data.split(","))
    print("Tupple is: ",converted_tupple)
    print("Type is: ",type(converted_tupple))
except Exception as ex:
    print(ex)

Enter string of numbers by comma separated:  4,5,8,9,7

List is:  ['4', '5', '8', '9', '7']
Type is:  <class 'list'>
Tupple is:  ('4', '5', '8', '9', '7')
Type is:  <class 'tuple'>