In [ ]:
'''
@Author: Viney Khaneja
@Date: 2022-04-18 10:15
@Last Modified by: Viney Khaneja
@Last Modified time: None
@Title : Sets Problems in Data Structure
'''

Program to create Set

In [6]:
try:
    # Duplicate values will be ignored in set as shown in example below:
    sample_element = {4,5,6,7,7,7,7,True,1.22,4j}
    print(f"Sample element i.e. {sample_element} is of type: ",type(sample_element))
except Exception as ex:
    print(ex)

Sample element i.e. {True, 1.22, 4, 5, 6, 7, 4j} is of type:  <class 'set'>

Iterate over set

In [9]:
try:
    # Duplicate values will be ignored in set as shown in example below:
    sample_set = {4,5,6,7,7,7,7,True,1.22,4j}
    for item in sample_element:
        print(item)
    print("Sets are unordered as well as you could relate with print staement while iterating over it.")
except Exception as ex:
    print(ex)

True
1.22
4
5
6
7
4j
Sets are unordered as well as you could relate with print staement while iterating over it.

Add Members in the set

In [17]:
try:
    set1 = {4,5,6,7,7,7,7,True,1.22,4j}
    # Adding one item to the existing set
    set1.add("Viney")
    # Adding multile items to the existing set
    set1.update(["Vishal","Vikky"])
    print("After adding elements: ",set1)

except Exception as ex:
    print(ex)

After adding elements:  {True, 1.22, 'Viney', 4, 5, 6, 7, 4j, 'Vishal', 'Vikky'}

Remove Members from the set

In [19]:
try:
    set2 = {4,5,6,"Viney","Vishal","Vikky",True,1.22,4j}
    # Removing item from the existing set
    set2.remove(6)
    print("After removing element: ",set2)

except Exception as ex:
    print(ex)

After removing element:  {True, 1.22, 'Viney', 4, 5, 4j, 'Vishal', 'Vikky'}

Remove item from set, if it is present in set

In [22]:
try:
    removing_set = {4,5,6,"Viney","Vishal","Vikky",True,1.22,4j}
    item_to_be_removed =input("Enter item to remove: ")
    item_flag = False
    for item in removing_set:
        if item == item_to_be_removed:
            item_flag = True
    if item_flag == True:
        removing_set.remove(item_to_be_removed)
    else:
        print("Mentioned item is not present in set")
    print(removing_set)
except Exception as ex:
    print(ex)

Mentioned item is not present in set
{True, 1.22, 'Viney', 4, 5, 6, 4j, 'Vishal', 'Vikky'}

Create an intersection of sets

In [25]:
try:
    num_set1 = {1,2,3,4,5}
    num_set2 = {5,4,3,0,-1,-2}  
    print("Intersected set is ",num_set1.intersection(num_set2))  
except Exception as ex:
    print(ex)

Intersected set is  {3, 4, 5}

Create an union of sets

In [26]:
try:
    num_set11 = {1,2,3,4,5}
    num_set22 = {5,4,3,0,-1,-2}  
    print("Union set is ",num_set11.union(num_set22))  
except Exception as ex:
    print(ex)

Union set is  {0, 1, 2, 3, 4, 5, -1, -2}

Create Set Difference

In [30]:
try:
    num_set21 = {1,2,3,4,5}
    num_set31 = {5,4,3,0,-1,-2}  
    print("Difference of set31 from 21 is ",num_set21 - num_set31)  
    print("Difference of set21 from 31 is ",num_set31 - num_set21)  
except Exception as ex:
    print(ex)

Difference of set31 from 21 is  {1, 2}
Difference of set21 from 31 is  {0, -2, -1}

Create Symmetric Difference

In [33]:
try:
    num_set41 = {1,2,3,4,5}
    num_set51 = {5,4,3,0,-1,-2}  
    print("Symmetric Difference of two sets is ",num_set41.symmetric_difference(num_set51))
except Exception as ex:
    print(ex)

Symmetric Difference of two sets is  {0, 1, 2, -1, -2}

Clear a set

In [37]:
try:
    num_set9 = {1,2,3,4,5}
    # Clearing the set
    num_set9.clear()
    print(num_set9)
except Exception as ex:
    print(ex)

set()

Use of Frozen Sets

In [38]:
try:
    sets_to_be_frozen = {"Viney","Vishal","Vikky"}
    # Freezing the sets
    frozed_set = frozenset(sets_to_be_frozen)
    print("Frozen Set is ",frozed_set)
    print("As these sets are frozen. If Addition method is applied on these set, then it woyuld trow attribute error which is handled by except block")
    frozed_set.add("Raghav")
except Exception as ex:
    print(ex)

Frozen Set is  frozenset({'Viney', 'Vishal', 'Vikky'})
As these sets are frozen. If Addition method is applied on these set, then it woyuld trow attribute error which is handled by except block
'frozenset' object has no attribute 'add'

Find Max and Min Value in Set

In [39]:
try:
    num_set99 = {5,4,3,0,-1,-2}
    print("The max value in set is: ",max(num_set99))
    print("The min value in set is: ",min(num_set99))
except Exception as ex:
    print(ex)

The max value in set is:  5
The min value in set is:  -2